h1 { 
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item {
	margin: 5px;
	background: goldenrod;
	text-align: center;
	font-size: 1.5em;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}