h1 { 
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item {
    flex: 1;
	margin: 5px;
	background: goldenrod;
	text-align: center;
	font-size: 1.5em;
}

.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.baseline {
    align-items: baseline;
}