h1 { 
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: goldenrod;
	text-align: center;
	font-size: 1.5em;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

p {
    text-align: center;
}