h1 { 
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.item {
    margin: 5px;
    background: goldenrod;
    text-align: center;
    font-size: 20px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}